body#aa {
        margin:0 auto;
        width:600px;}

body#bb {
        margin:0 auto;
        width:800px;
        font-family:georgia,sans-serif,symbol;}

body#cc {
        margin:0 auto;
        width:800px;
        font-family:menlo-regular;}

body#dd {
        margin:0 auto;
        width:800px;
        font-size:121%;}

a:link {
        color: #0000FF;
        text-decoration: none;}

a:visited {
        color: #0000FF;}

@media screen and (max-device-width: 2000px) {
body#aa {
        margin:0 auto;
        width:auto;}
}
